@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');



.active,
nav ul li:hover {
  color: #00CC6A;
  border-bottom-color: #00CC6A;
}

nav ul li {
  border-bottom: 2px solid transparent;
  padding: .5rem;
}

.bottomactive {
  font-size: 5rem;
}

.whiteBtn {
  border-color: #00CC6A;
}

.whiteBtn:hover {
  background-color: #00CC6A;
  font-weight: 600;
  color: black;
}

.greenBtn {
  border-color: #00CC6A;
  background-color: #00CC6A;
  color: initial;
  border: 1px solid transparent;
  font-weight: 600;
}

.greenBtn:hover {
  background: initial;
  border: 1px solid #00CC6A;
  color: #00CC6A;
}

hr {
  border-top-color: #00CC6A;
  width: 60px;
}

.about .skills li {
  margin: .5rem 0;
}

.about .skills li::before {
  content: "\220E";
  font-size: .75em;
  color: #00CC6A;
  font-weight: 800;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-left: -.5em;
  /* margin-top: -2.5em; */
  /* margin-bottom: -2.5em; */
}

form input,
textarea {
  border-bottom: 1px solid #ECECEC;
  outline: none;
}

form input:focus {
  border-bottom: 1px solid white;
}

.summary-width {
  width: 20.5rem;
}

.the-hth {
  height: 40rem;
}
.width{
  /* width: 70%; */
  /* margin: auto; */
}

/* width */

::-webkit-scrollbar {
  width: 3px !important;
  max-height: 3px;
  margin: 30px;
}


/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #00CC6A;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #007b40;
}

.social a:hover,
.green {
  color: #00CC6A;
}

.navbarstyle {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  margin: 0;
}

@media (max-width: 640px) {
  .summary-width {
    width: 18rem;
  }
}


/* Animation */

.name-text {
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* font-size: 4.5rem; */
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

.sent-div{
  max-width: 30rem;
  /* max-height: 32rem; */
}
.sent-div img{
  width: 70%;
  height: 70%;

}
.closeBtn{
  right: 1.5rem;
  top: 1.5rem;
}
.closeBtn div, .closeBtn:after {
  background-color: #fff;
  content: '';
  display: block;
  height: 7px;
  margin: 3px 0;
  transition: all .2s ease-in-out;
  z-index: 30;
  width: 30px;
}
.closeBtn div{
  transform: rotate(-135deg) translateY(-7.5px);
}

 .closeBtn::after {

  /* transform: translateX(20px); */
  transform: rotate(135deg) translateY(7.5px);
}